<h1>Stardew Valley Grange Calculator</h1>
<section class="Score"><app-score></app-score></section>
<form [formGroup]="itemForm">
    <hr>
    @for (number of [1,2,3,4,5,6,7,8,9]; track $number){
        <h3>Item{{number}}:</h3>
        <select formControlName="item{{number}}">
            @for (item of itemCategories(); track $index) {
                <option [ngValue]="item">{{ item }}</option>
            }
        </select>
        @if (itemForm.get("item"+number)?.value != "None") {
            <p>Show {{itemForm.get("item"+number)?.value}} List</p>
        }
        <hr>
    }
    
</form>