<form>
  <h3>Item {{itemNum()}}:</h3>
  <select formControlName="itemCat" (change)="setItem($event)">
    @for (item of itemCategories(); track $index){
      <option [value]="item">{{item}}</option>
    }
  </select>
  @if (this.itemForm.get("itemCat")?.value != "None") {
    <select formControlName="itemName" (change)="setItemName($event)" [selectedIndex]="0">
    @for (item2 of category(); track $index) {
      <option [value]="item2">{{item2}}</option>
    }
    </select>
    <select formControlName="itemQuality" (change)="setItemQuality($event)">
    @for (item3 of qualities(); track $index) {
      <option [value]="item3">{{item3}}</option>
    }
    </select>
    @for (item4 of itemData(); track $index) {
      @if (item4.Name == this.itemForm.get("itemName")?.value) {
        <p>${{item4.Price}}</p>
      }
    }
  }

  <p>Item score: {{itemScore()}}</p>
  <p>itemCat: {{this.itemForm.get("itemCat")?.value}}</p>
  <p>itemName: {{this.itemForm.get("itemName")?.value}}</p>
  <p>itemQuality: {{this.itemForm.get("itemQuality")?.value}}</p>

</form>
