<form>
  <h3>Item {{itemNum()}}:</h3>
  <select formControlName="itemCat" (change)="setItem($event)">
    @for (item of itemCategories(); track $index){
      <option [value]="item">{{item}}</option>
    }
  </select>
  @if (item != "None") {
    <select formControlName="itemName" (change)="setItemName($event)">
    @for (item2 of category(item); track $index) {
      <option [value]="item2">{{item2}}</option>
    }
    </select>
    <select formControlName="itemQuality" (change)="setItemName($event)">
    @for (item3 of qualities(); track $index) {
      <option [value]="item3">{{item3}}</option>
    }
    </select>
  }

  <p>Item score: {{itemScore()}}</p>
  <p>{{temp}}</p>
</form>
